body {
    overflow: hidden;
    font-family: "Inter";
    color: white;
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
}

* {
    font-variant-ligatures: none;
}

#ChatDisplay {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

body::-webkit-scrollbar,
#ChatDisplay::-webkit-scrollbar {
    display: none;
}

.name-wrapper,
.badge-wrapper,
.bits-wrapper {
    position: relative;
    display: inline-flex;
    line-height: normal;
    vertical-align: middle;
}

.badge-wrapper {
    flex-wrap: wrap;
}

.message-text {
    display: inline-block;
    vertical-align: middle;
}

.bits-number {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.emote-wrapper {
    vertical-align: middle;
}

.badge {
    width: 1em;
    height: 1em;
    margin: 2.5px;
    vertical-align: middle;
}

.paint {
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    background-size: cover !important;
}

.fade {
    opacity: 0;
}

.emote-wrapper {
    display: inline-grid;
    position: relative;
    grid-auto-rows: 0px;
    line-height: normal;
    justify-content: center;
}

.emote {
    justify-self: center;
}

.emote.emoji {
    height: 100vh;
}

#loadingUI {
    padding: 15px 15px;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    transition: all 0.3s;
}

#loadingUI img {
    max-height: 25vh;
    object-fit: contain;
}