body {
    overflow: hidden;
    font-family: "Inter";
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    font-variant-ligatures: none;
}

#ChatDisplay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    position: absolute;
}

body::-webkit-scrollbar,
#ChatDisplay::-webkit-scrollbar {
    display: none;
}

.name-wrapper,
.badge-wrapper,
.bits-wrapper {
    position: relative;
    display: inline-flex;
    line-height: normal;
}

.badge-wrapper,
.bits-wrapper {
    vertical-align: middle;
}

.badge-wrapper {
    flex-wrap: wrap;
}

.message-text {
    display: inline-block;
}

.bits-number {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.emote-wrapper {
    vertical-align: middle;
}

.badge {
    width: 1em;
    height: 1em;
    margin: 2.5px;
    vertical-align: middle;
}

.paint {
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    background-size: cover !important;
    text-shadow: none !important;
}

.fade {
    opacity: 0;
}

.emote-wrapper {
    display: inline-grid;
    position: relative;
    grid-auto-rows: 0px;
    line-height: normal;
    justify-content: center;
}

.emote {
    justify-self: center;
}

.emote.emoji {
    height: 100vh;
}

/* LOADING UI */
#loadingUI {
    padding: 40px 20px 20px 20px;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 10px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    transition: all 0.3s;
    font-weight: 800;
}

#loadingUI img {
    max-height: 10vh;
    object-fit: contain;
    animation: floatSpinPerfect 4s ease-in-out infinite;
}

#versionText {
    font-size: 2.3rem;
    font-weight: 500;
}

#loadingUI span {
    background: linear-gradient(90deg,
            #ffffff 0%,
            #ffffff 40%,
            #cccccc 50%,
            #ffffff 60%,
            #ffffff 100%);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: bulletTextShine 2s linear infinite;
}

/* Animations */
@keyframes floatSpinPerfect {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    20% {
        transform: translateY(-10px) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(360deg);
    }

    80% {
        transform: translateY(0px) rotate(360deg);
    }

    100% {
        transform: translateY(0px) rotate(360deg);
    }
}

@keyframes bulletTextShine {
    0% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}