body {
    overflow: hidden;
    font-family: "Inter";
    font-size: 36px;
    color: white;
}

#ChatDisplay {
    margin-left: auto;
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    word-wrap: break-word;
}

body::-webkit-scrollbar,
#ChatDisplay::-webkit-scrollbar {
    display: none;
}

.emote-wrapper .emote {
    vertical-align: middle;
}

.name-wrapper,
.badge-wrapper,
.emote-wrapper {
    position: relative;
    display: inline-block;
}

.badge {
    width: 1em;
    height: 1em;
    margin: 5px;
    vertical-align: middle;
}

.paint {
    display: block;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    background-size: cover !important;
}

.fade {
    opacity: 0;
}