body {
    font-family: "Inter", Arial, sans-serif;
    background: #0d0d0d;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100dvw !important;
    height: 100dvh !important;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background-color: rgb(10, 10, 10);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(219, 219, 219);
}

* {
    font-variant-ligatures: none;
}

aside {
    border-right: 1px solid #333;
    width: 17dvw;
    position: relative;
}

#topbar {
    width: 100%;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
}

small {
    font-size: 0.7rem;
}

#topbar img {
    margin-top: 2dvh;
    margin-bottom: 2dvh;
    width: 3dvh;
    height: 3dvh;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    transition: opacity 0.5s ease-in-out;
}

#topbar #name {
    width: 100%;
    display: flex;
    flex-direction: column;
}

aside #buttons {
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    box-sizing: border-box;
    gap: 15px;
}

#buttons>* {
    all: unset;
    cursor: pointer;
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 23px;
    box-sizing: border-box;
    transition: all 0.3s;
}

#buttons>*.active {
    background: #ffffff14;
    border-radius: 15px;
    gap: 20px;
}

#buttons>*:hover {
    background: #ffffff26;
    border-radius: 7px;
    gap: 25px;
}

#buttons>* svg {
    transition: all 0.3s;
}

#buttons>*:hover svg {
    transform: scale(1.2);
}

aside #account {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px #333 solid;
}

#login-button {
    background-color: #ffffff0d;
    height: 80%;
    width: 10dvw;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    border: 1px #333 solid;
    transition: all 0.3s;
    margin-top: 15px;
}

#login-button:hover {
    width: 11dvw;
    border-radius: 7px;
    background-color: #ffffff1c;
    border: 1px #424242 solid;
}

.note.login_note {
    margin-bottom: 0px;
}

#settingsButtons {
    display: none;
    width: 100%;
}

#deleteSettings-button,
#saveSettings-button {
    border: none;
    width: 100%;
    color: white;
    cursor: pointer;
    padding: 7px;
    font-size: 1.0rem;
    border-top: 1px solid;
}

#saveSettings-button {
    background-color: #02ff0096;
}

#deleteSettings-button {
    border-left: 1px solid;
    background-color: #ff00009c;
}

#saveSettings-button:hover {
    background-color: #02ff00bd;
}

#deleteSettings-button:hover {
    background-color: #ff0000c4;
}

.important_notice {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    background-color: red;
    border-bottom: 1px #ffffff solid;
}

.important_notice a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

.important_notice:hover:has(a) {
    background-color: #ff3333;
    cursor: pointer;
}

h2 {
    font-size: 2.5rem;
    line-height: 0;
    text-align: center;
}

h3 {
    line-height: 0;
    font-size: 1rem;
    text-align: center;
}

#section_display,
main {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

#section_display>section {
    height: 100%;
    width: 100%;
    position: absolute;
}

#home {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#footer {
    padding: 10px;
    width: 100dvw;
    font-size: 1rem;
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #333;
}

#footer a {
    color: white;
    transition: all 0.3s;
}

#footer a:hover {
    color: #cdcdcd;
}

/* CONFIG */

.left_side {
    border: 1px solid #333;
    background-color: #ffffff05;
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_side #information {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
}

#channel-input {
    width: 100%;
    font-size: 2rem;
    padding: 15px;
    box-sizing: border-box;
    user-select: none;
    border: none;
    outline: none;
    background-color: #161616;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    font-weight: bolder;
    color: white;
}

#configuration {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.2rem;
    padding: 10px;
    box-sizing: border-box;
}

#configuration input[type="text"] {
    color: white;
    width: 25%;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.057);
    font-size: 25px;
    text-align: center;
    outline: none;
}

#setting_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
}

#setting_item.boolean input {
    appearance: none;
    display: block;
    width: 60px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.057);
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

#setting_item.boolean input::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.2s;
}

#setting_item.boolean input.active {
    background-color: rgba(96, 179, 110, 0.67);
}

#setting_item.boolean input.active::after {
    transform: translateX(30px);
}

#rainbow-text {
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 200%;
    animation: rainbow 5s linear infinite;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes rainbow {
    0% {
        background-position: 200% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* CHAT PREVIEW */

.right_side {
    border: 1px solid #333;
    background-color: #ffffff05;
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    box-sizing: border-box;
}

.window {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.027);
}

.window #name {
    font-weight: 500;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    background-color: rgb(0 0 0 / 3%);
}

.window #inside {
    padding: 10px;
    box-sizing: border-box;
}

#window_chat #inside {
    all: unset;
    overflow: hidden;
}

#ChatDisplay {
    position: relative !important;
    padding: 10px;
    box-sizing: border-box;
    max-height: 30dvh;
}

.chat_preview {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.note {
    text-align: center;
    color: #c9c9c9;
    margin-top: 5px;
}

.learn_more {
    all: unset;
    display: block;
    color: #8b8bff;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
}

.learn_more:hover {
    text-decoration: underline;
}

#window_preview_settings #inside {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#window_preview_settings #inside #setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
}

#url-results {
    font-size: 1.5rem;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    cursor: pointer;
    user-select: none;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    background-color: #00000012;
    border: 1px #333 solid;
    border-radius: 15px;
    margin-bottom: 15px;
}

.settings_button,
#click_to_copy {
    all: unset;
    cursor: pointer;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff03;
    border: 1px solid #333;
    transition: all 0.2s;
}

.settings_button:hover,
#click_to_copy:hover {
    padding: 0.8rem;
    font-size: 1.7rem;
    border-radius: 10px;
    background-color: #ffffff12;
    border: 1px solid #ffffff38;
}

.settings_button svg,
#click_to_copy svg {
    transition: all 0.2s;
}

.settings_button:hover svg,
#click_to_copy:hover svg {
    transform: scale(1.3);
}

.transition-button {
    background-color: #131313;
    border: 0px;
    color: white;
    font-size: 26px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.13s ease;
}

.transition-button:hover {
    background-color: #111111;
}

/* HELP PAGE */

#help {
    overflow-y: auto;
    padding: 0px 0px 50px;
    box-sizing: border-box;
}

h5 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    line-height: 0;
}

h5 svg {
    transform: scale(1.3);
}

#faq {
    margin: 0px 175px;
    background-color: #ffffff05;
    border: 1px #333 solid;
    border-radius: 15px;
    overflow: hidden;
}

#faq a {
    all: unset;
    color: #8b8bff;
    cursor: pointer;
}

#faq a:hover {
    text-decoration: underline;
}

.faq-item {
    border-top: 1px #333 solid;
    padding: 0px 25px;
}

.faq-item:first-child {
    border-top: none;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-item ul {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px #333 solid;
    list-style-type: none;
    background-color: #ffffff05;
    font-size: 1rem;
}

.faq-item ul li code span {
    cursor: pointer;
}

/* PRIVACY */

#privacy {
    margin: 0px 175px;
    background-color: #78ff7d0f;
    border: 1px #4fff8a6e solid;
    padding: 0px 15px;
    border-radius: 15px;
    overflow: hidden;
}

#privacy p {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* MORE */

#site_blur {
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: block;
    position: absolute;
}

#site_blur.no-blur {
    display: none;
    backdrop-filter: blur(0px);
}

/* COLOR PICKER DARK THEME */
.picker_dark {
    background-color: #222 !important;
    box-shadow: 0 0 15px #000 !important;
    border: 1px #333 solid;
}

.pcr-button {
    border: 1px white solid;
}