body {
    background-color: #080909;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Inter";
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0);
    line-height: 1.2;
}

.logo-container {
    display: flex;
    align-items: flex-end; 
    height: 75px; 
    position: sticky;
    margin-left: 20px;
    text-align: center;
}

.logo-container strong {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.logo {
    width: 5%;
    height: 75px; 
    object-fit: contain;
    display: block;
    transition: opacity 0.5s ease-in-out;
}

.container {
    flex-direction: column;
    display: grid;
    place-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.information {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 30px;
    font-family: "Inter";
    text-align: center;
}

.feature-list ul, .feature-list ol {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
}

.feature-list li {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Inter";
}

#footer {
    font-size: 20px;
    font-family: "Inter";
    text-align: center;
    margin-bottom: 10px;
}

li img {
    height: 35px;
}

input {
    color: white;
    width: 350px;
    height: 50px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.027);
    font-size: 25px;
    text-align: center;
    outline: none;
    display: inline-block;
}

#footer {
    z-index: 2;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    text-decoration: none;
    color:rgb(158, 158, 158);
}

.configuration {
    background-color: rgba(255, 255, 255, 0.027);
    border-radius: 4px;
    width: 50%;
    height: auto;
}

.configuration input[type="text"] {
    color: white;
    width: 200px;
    height: 50%;
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.057);
    font-size: 25px;
    text-align: center;
    outline: none;
}

.configuration input[type="text"]::-webkit-inner-spin-button,
.configuration input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.setting_text,
.setting_boolean,
.setting_button,
.setting_number {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

.toggle-container {
    position: relative;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: block;
    width: 60px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.057);
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

.toggle-label::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.2s;
}

.toggle-input:checked + .toggle-label {
    background-color: rgba(96, 179, 110, 0.67);
}

.toggle-input:checked + .toggle-label::after {
    transform: translateX(30px);
}

.configuration button {
    color: white;
    width: 100px;
    height: 50%;
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.057);
    font-size: 20px;
    text-align: center;
    outline: none;
}

#rainbow-text {
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 200%;
    animation: rainbow 5s linear infinite;

    display: inline-block;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes rainbow {
    0% {
        background-position: 200% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#url-results {
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    width: auto;
    min-width: 50%;
    cursor: pointer;
    user-select: none;
    background-color: #0e0f0f;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

#footer img {
    height: 37px;
}

#commit-message {
    text-align: center;
}